~*
*.suo
*.user
*.dbmdl
*.log
*.tmp

logs/
obj/
bin/
.build/

.vs/
_UpgradeReport_Files/
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

pkg/
packages/
.packages/
!packages/repositories.config
!.packages/repositories.config

*.refactorlog
*.squishit.debug.css
*.css.map
*.js.map
bower_components/
node_modules/